<%# <div class= "body_entire"> %>
  <div class = "body_flex">
    <div class = "main_part">
      <div class= "statement_box">
          <div class="top_statement">『子供が急に熱を出してしまった。仕事どうしよう…』</div>
          <div class="sub_statement">そう思ったこと、ありませんか？</div>
      </div>
    <div class= "statement_detail">
        <div class = "image_custom">
          <%= image_tag("kidandmom.jpg", alt: "就寝", class: "top-image") %>
        </div>

        <div class ="statement_explanation">
            <div class="stressed_part">Hospilは、子育てに一生懸命なお父さん、お母さんのお手伝いをします。</div>
            <div class= "sentences">・お子さんの急な体調不良の際の往診</div>
            <div class= "sentences">・保護者不在での自宅看護</div>
            <div class= "sentences">・急用で家を空けないといけない時の出張保育</div>
            <div class= "sentences">・オンライン受診サービス</div>
            <div class= "sentences">・オンライン処方箋発行サービス</div>
            
        </div>
    </div>
    <div class= "statement_box">
      <div class = "highlighted_statement">これ、私たちができるんです。</div>
        <div class="second_statement">共働きのご家庭や、さまざまなご家庭の事情があって、子育てのサポートが必要な時ってありますよね。</div>
        <div class="second_statement"><span class= "companyname_emphasis">Hospil(ホスピル)</span>は、そんな親御さんたちの『困った』を元に作られたサービスです。</div>
        <%= image_tag("sleeping.jpg", alt: "おやすみ", class: "top-image_sec") %><br>
        <div class="third_statement">詳しくはこちらをご参照ください。</div>
    </div>
     <div class = "schedule_entire">
          <% @requests.each do |request| %>
            
             <div class = "schedule_bracket">
              <%= request.title %>
             </div>

             <div class = "schedule_bracket">
              <%= request.date %>
             </div>

            <ul class="more_list">
               <li>
                <%= link_to '編集', edit_request_path(request.id) %>
              </li>
              <li>
                <%= link_to '削除', request_path(request.id), data: { turbo_method: :delete } %>
              </li>
              <li>
                <%= link_to '詳細', request_path(request.id) %>
              </li>
            </ul>
          <% end %>   
     </div>
      
  </div>
<%# </div> %>
